<li class="thumb">
	<ul>
		<li class="asset">&nbsp;</li>
		<li class="tools">
			<ul class="icons">
				<li title="Add to cart"><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
				<li title="Add to lightbox"><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
				<li title="View larger"><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
				<li title="View similar"><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
			</ul>
		</li>
		<li class="stats">
			<p>Collection</p>
			<p>#1234567</p>
			<p>Vendor name</p>
			<p><a href="#">Link to reference</a></p>
		</li>
	</ul>
</li>