<header>
	<div>
		<article class="link_box">
			<h3><%= link_to "Blacklabel", root_url %></h3> <span>prototype modeling framework</span>
		</article>
		<aside>
			<ul>
				<li><%= link_to "Sign out", root_url %></li>
				<li>Welcome [ name ]</li>
			</ul>
			<ul>
				<li>|<a href="#">Utility nav</a></li>
				<li>|<a href="#">Utility nav</a></li>
				<li>|<a href="#">Utility nav</a></li>
				<li><a href="#">Utility nav</a></li>
			</ul>
		</aside>
	</div>
</header>